/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.51;
}

.title-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.51;
}

.title-3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 151%;
  color: #000000;
}

.title-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.51;
}

.text {
  font-weight: 400;
  line-height: 1.51;
}

.button {
  font-size: 16px;
  line-height: 1.51;
  text-align: center;
  border-radius: 5px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.51;
}

.header-dropdown__link, .header-nav .header-contact, .header-nav .header-link, .header-nav .header-lang__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}

.footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .answer .answer-header, .question .question__form, .test, .vacancies__body, .vacancies__header, .more, .corporation .corporation__elipse, .header-nav .header-lang, .header-nav {
  display: flex;
  flex-direction: row;
}

.footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column, .question .question__form .question__input {
  display: flex;
  flex-direction: column;
}

.header-logo {
  padding: 21px 0 14px 135px;
}

.header-nav {
  background-color: #2B88FF;
  padding: 0 135px;
  justify-content: space-between;
}
.header-nav .header-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header-nav .header-item, .header-nav .header-contact {
  padding: 12px 30px;
}
.header-nav .header-item:hover {
  background-color: #0C5FC9;
}
.header-nav .header-item:first-child {
  padding: 12px 30px 12px 0;
}
.header-nav .header-lang {
  padding: 12px 0 12px 30px;
}
.header-nav .header-link, .header-nav .header-lang__item {
  text-decoration: none;
}
.header-nav .header-contact {
  font-weight: 700;
}

.header-item {
  position: relative;
  display: inline-block;
}

.header-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  min-width: 230px;
  margin-top: 12px;
  margin-left: -30px;
}

.header-dropdown__link {
  color: #6B6B6B;
  display: block;
  text-decoration: none;
  padding: 10px 27px;
}

.header-dropdown__link:hover {
  background-color: #2A88FF;
  color: #FFFFFF;
}

.header-item:hover .header-dropdown {
  display: block;
}

.corporation {
  background: url(../img/brain-source.jpg) no-repeat;
  background-size: cover;
  height: 550px;
}
.corporation .corporation__title {
  color: #FFFFFF;
  padding: 173px 0 21px 192px;
}
.corporation .corporation__text {
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 0 205px 192px;
  max-width: 620px;
}
.corporation .corporation__elipse {
  text-align: center;
  gap: 12px;
  margin-left: 50%;
}

.footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .answer .answer-header, .question .question__form, .test, .vacancies__body, .vacancies__header, .more, .header-nav, .header-nav .header-lang, .corporation .corporation__elipse {
  display: flex;
  flex-direction: row;
}

.footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column, .question .question__form .question__input {
  display: flex;
  flex-direction: column;
}

.more {
  margin-top: 100px;
  margin-bottom: 111px;
  gap: 40px;
}
.more .more__button {
  width: 204px;
  height: 56px;
}
.more .more__button_bcg_white {
  background: #FFFFFF;
  border: 1px solid #EB3D00;
  font-weight: 400;
  color: #EB3D00;
}
.more .more__button_bcg_orange {
  background: #EB3D00;
  border: 1px solid #EB3D00;
  font-weight: 700;
  color: #FFFFFF;
}
.more .more__button_bcg_shadow {
  background: #EB3D00;
  border: 1px solid #EB3D00;
  box-shadow: inset 4px 4px 4px #AD3206;
  font-weight: 700;
  color: #FFFFFF;
}

.vacancies {
  margin-bottom: 90px;
}

.vacancies__header {
  margin-bottom: 37px;
  align-items: center;
  gap: 400px;
}

.vacancies__body {
  justify-content: space-between;
  align-items: center;
}
.vacancies__body .vacancies-content {
  width: 24%;
  background: #FFFFFF;
  box-shadow: 0px 0px 49px 2px rgba(0, 0, 0, 0.14);
  border-radius: 0 5px 5px 0;
  border-left: 3px solid #EB3D00;
  padding: 41px 44px 32px 30px;
}
.vacancies__body .vacancies-content .vacancies-content__title {
  padding-bottom: 14px;
}
.vacancies__body .vacancies-content .vacancies-content__text {
  font-size: 12px;
  color: #6B6B6B;
  padding-bottom: 19px;
}

.vacancies__link_orange {
  text-decoration: none;
  color: #EB3D00;
  border-bottom: 1px dashed #EB3D00;
}

.vacancies__link_blue {
  text-decoration: none;
  color: #2A88FF;
  border-bottom: 1px dashed #2A88FF;
}

.test {
  background: #2A88FF;
  gap: 41px;
  padding: 71px 0 71px 198px;
  margin-bottom: 61px;
}
.test .test__button {
  width: 237px;
  height: 56px;
  font-weight: 700;
  color: #FFFFFF;
  border: 0;
}
.test .test__button_bcg_darkorange {
  background: #EB3D00;
}
.test .test__button_bcg_orange {
  background: #F94A0C;
}
.test .test__button_bcg_shadow {
  background: #F94A0C;
  box-shadow: inset 4px 4px 4px #AD3206;
}

.question {
  padding: 75px 59px 80px 475px;
  margin-bottom: 38px;
  background: #F9F9F9;
  border: 3px solid #2B88FF;
  border-radius: 10px;
}
.question .question__title {
  text-align: center;
  margin-bottom: 34px;
}
.question .question__form {
  gap: 30px;
}
.question .question__form .question__input .input {
  width: 338px;
  background: #FFFFFF;
  border: 1px solid #2B88FF;
  border-radius: 5px;
  padding: 16px 0 16px 23px;
}
.question .question__form .question__input .input-invalid {
  display: none;
  color: #EB3D00;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.51;
  text-align: end;
}
.question .question__form .question__input .input:invalid {
  border: 1px solid #EB3D00;
}
.question .question__form .question__input .input:valid {
  border: 1px solid #01A011;
}
.question .question__form .question__input .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.51;
  color: #000000;
}
.question .question__form .question__input .label__span {
  color: #EB3D00;
}

.answer {
  background: #F9F9F9;
  border: 3px solid #2B88FF;
  border-radius: 10px;
  padding: 105px 313px 101px 313px;
  margin-bottom: 78px;
}
.answer .answer-header {
  gap: 22px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.answer .answer__text {
  text-align: center;
}

.footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .header-nav, .header-nav .header-lang, .corporation .corporation__elipse, .more, .vacancies__header, .vacancies__body, .test, .question .question__form, .answer .answer-header {
  display: flex;
  flex-direction: row;
}

.footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column, .question .question__form .question__input {
  display: flex;
  flex-direction: column;
}

.footer {
  background: #111111;
  padding: 72px 135px 23px 135px;
}
.footer .footer__row {
  justify-content: space-between;
}
.footer .footer__row .footer__column {
  gap: 15px;
  width: 17%;
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.footer .footer__row .footer__column .footer__title {
  color: #FFFFFF;
}
.footer .footer__row .footer__column .footer-item {
  margin-bottom: 12px;
}
.footer .footer__row .footer__column .footer-item .footer-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #B3B3B3;
}
.footer .footer__row .footer__column-first {
  gap: 32px;
}
.footer .footer__row .footer__column-service {
  width: 35%;
}
.footer .footer__row .footer__column-contact {
  border: 0;
}
.footer .footer__row .footer__column-contact .footer__contact {
  gap: 15px;
  margin-bottom: 35px;
}
.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer__row .footer__column-contact .footer__contact .footer__contact-content {
  gap: 15px;
}
.footer .footer__row .footer__column-contact .footer__contact-pic {
  gap: 30px;
}
.footer .footer__text {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 65px;
}