// corporation
.corporation {
    background: url(/assets/img/brain-source.jpg) no-repeat;
    background-size: cover;
    height: 550px;
    padding: 0 173px;

    @include breakpoint(xxl) {
        height: 450px;
    }

    @include breakpoint(xl) {
        height: 365px;
        padding: 0 50px;
    }

    @include breakpoint(lg) {
        height: 300px;
    }

    @include breakpoint(md) {
        height: 215px;
    }

    @include breakpoint(sm) {
        height: 150px;
        padding: 0 35px;
    }

    .corporation__title {
        @extend%fw7;
        font-size: 42px;
        color: var(--white-color);
        padding-top: 173px;
        margin-bottom: 21px;

        @include breakpoint(xxl) {
            padding-top: 80px;
        }

        @include breakpoint(lg) {
            padding-top: 55px;
            font-size: 32px;
        }

        @include breakpoint(md) {
            padding-top: 15px;
            font-size: 25px;
            margin-bottom: 15px;
        }

        @include breakpoint(sm) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .corporation__text {
        @extend%fw4;
        font-size: 16px;
        color: var(--white-color);
        margin-bottom: 205px;
        max-width: 620px;

        @include breakpoint(xl) {
            margin-bottom: 150px;
        }

        @include breakpoint(lg) {
            margin-bottom: 130px;
            font-size: 14px;
        }

        @include breakpoint(md) {
            margin-bottom: 80px;
            font-size: 14px;
            width: 70%;
        }

        @include breakpoint(sm) {
            margin-bottom: 35px;
            font-size: 11px;
        }
    }

    .corporation__elipse {
        @extend%flex-row;
        align-items: center;
        gap: 12px;
        justify-content: center;

        .corporation__item {
            border: 2px solid #FFFFFF;
            background: transparent;
            border-radius: 50%;
            padding: 0;
            width: 10px;
            height: 10px;
        }

        .corporation__item-orange {
            background: #EB3D00;
            border: 0;
            width: 15px;
            height: 15px;
        }
    }
}

//ABOUT

.about{
    margin-top: 80px;
    margin-bottom: 150px;
    @extend%flex-row;
    gap: 65px;
    @include breakpoint(xl) {
        flex-direction: column-reverse;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 30px;
    }
    @include breakpoint(sm) {
        gap: 15px;
    }
}
.about-video{
    @extend%flex-column;
    gap: 17px;
    @include breakpoint(xl) {
        align-items: center;
    }
    .about-video__header{
        @extend%flex-row;
        gap: 23px;
        @include breakpoint(xl) {
            display: none;
        }
        .about-video__text{
            @extend%fw4;
            font-size: 16px;
            color: #8D8D8D;
        }
    }
    .about-video__frame{
        @include breakpoint(sm){
            width: 350px;
            height: 220px;
        }
    }
}
.about-video-first{
    @include breakpoint(xl) {
        display: none;
    }
}
.about-video-second{
    display: none;
    @include breakpoint(xl) {
        display: block;
        align-items: center;
    }
}
.about-company{
    @extend%flex-column;
    gap: 30px;
    @include breakpoint(xl) {
        align-items: center;
        gap: 10px;
    }
    .about-company__title{
        @extend%title2;
        @include breakpoint(sm) {
            font-size: 20px;
        }
    }
    .about-company__text{
        @extend%fw4;
        font-size: 16px;
        color: var(--main-color);
        @include breakpoint(xl){
            text-align: center;
            width: 90%;
        }
        @include breakpoint(sm) {
            font-size: 14px;
        }
    }
    .about-company__button{
        @extend%button;
        width: 204px;
        height: 56px;
        background: var(--white-color);
        border: 1px solid var(--orange-color);
        color: var(--orange-color);
        &:hover{
            background: var(--orange-color);
            color: var(--white-color);
            font-weight: 700;
        }
        @include breakpoint(sm) {
            font-size: 12px;
            width: 148px;
            height: 40px;
        }
    }
}


//MISSION

.mission{
    margin-bottom: 120px;
    @include breakpoint(xl) {
        margin-bottom: 80px;    
    }
}
.mission__title{
    @extend%title2;
    text-align: center;
    margin-bottom: 57px;
    @include breakpoint(xl) {
        margin-bottom: 15px;
    }
    @include breakpoint(sm) {
        font-size: 20px;
        margin-bottom: 5px;
    }
}
.mission__row{
    padding-left: 104px;
    @extend%flex-row;
    gap: 60px;
    @include breakpoint(xl) {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .mission__column{
        @extend%flex-row;
        align-items: center;
        width: 45%;
        @include breakpoint(xl) {
            width: 100%;
        }
    }
    .mission__column-first{
        gap: 30px;
        border-right: 1px solid rgba(0, 0, 0, 0.11);
        @include breakpoint(xl) {
            border: 0; 
            gap: 15px;   
        }
    }
    .mission__column-second {
        justify-content: space-around;
    }
    .mission__item{
        @extend%flex-column;
        gap: 20px;
    }
    .mission__value{
        @extend%flex-row;
        gap: 11px;
    }
    .mission__text{
        @extend%fw4;
        font-size: 18px;
        color: var(--main-color);
        @include breakpoint(sm) {
            font-size: 14px;
        }
    }
}

//STAFF

.staff{
    @extend%flex-row;
    background: #F9F9F9;
    border: 3px solid #2B88FF;
    border-radius: 10px;
    margin-bottom: 77px;
    align-items: center;
    position: relative;
    @include breakpoint(xl) {
        margin-bottom: 30px;
    }
    .staff__picture{
        width: 100%;
        height: 427px;
        @include breakpoint(xl) {
            height: 310px;
        }
        @include breakpoint(lg) {
            width: 0;
            height: 360px;
        }
        @include breakpoint(sm) {
            height: 280px;
        }
        .staff__picture-item{
            position: absolute;
            top: -50px;
            left: -25px;
            @include breakpoint(xl) {
                height: 360px;
            }
            @include breakpoint(lg){
                top: 0;
                left: 0;
                opacity: 0.2;
            }
            @include breakpoint(sm) {
                height: 280px;
            }
        }
    }
    .staff__content{
        padding: 10px;
        @include breakpoint(lg) {
            text-align: center;
            margin-left: 0;
        }
    }
    .staff__title {
        @extend%title2;
        margin-bottom: 14px;
        @include breakpoint(lg) {
            margin-top: 10px;
        }
        @include breakpoint(sm) {
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
    .staff__text {
        @extend%fw4;
        font-size: 18px;
        color: var(--main-color);
        @include breakpoint(sm) {
            font-size: 14px;
        }
    }
    .staff__column {
        margin-top: 30px;
        @extend%flex-row;
        justify-content: space-around;
        .staff__item{
            @extend%flex-column;
            gap: 20px;
        }
        .staff__value{
            @extend%flex-row;
            gap: 11px;
        }
    }
}

//VACANCIES AND NEWS


.vacancies-news{
    @extend%flex-row;
    justify-content: space-between;
    margin-bottom: 77px;
    @include breakpoint(xl) {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
    }
}

//VACANCIES
.vacancies{
    width: 48%;
    @include breakpoint(xl) {
        width: 98%;
    }
}
.vacancies__header {
    @extend%flex-row;
    margin-bottom: 37px;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(xl) {
        margin-bottom: 15px;
    }
    .vacancies__title{
        @extend%title2;
        @include breakpoint(sm) {
            font-size: 20px;
        }
    }
}
.vacancies__link{
    @extend%link;
    @extend%fw4;
    margin-top: auto;
    width: max-content;
    font-size: 14px;
    color: var(--orange-color);
    border-bottom: 1px dashed var(--orange-color);
    @include breakpoint(sm) {
        font-size: 12px;
    }
}

.vacancies__body {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    align-items: center;
    gap: 20px;
    .vacancies-content {
        @extend%flex-column;
        height: 100%;
        background: var(--white-color);
        border-radius: 0 5px 5px 0;
        border-left: 3px solid #EB3D00;
        padding: 41px 34px 32px 30px;
        &:hover{
            box-shadow: 0px 0px 49px 2px rgba(0, 0, 0, 0.14);
        }
        @include breakpoint(md) {
            padding: 21px 15px;
        }

        .vacancies-content__title {
            @extend%fw7;
            font-size: 18px;
            color: var(--primary-color);
            margin-bottom: 14px;
            @include breakpoint(md) {
                font-size: 16px;
            }
            @include breakpoint(sm) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .vacancies-content__text {
            font-size: 12px;
            @extend%fw4;
            color: var(--main-color);
            margin-bottom: 19px;
            @include breakpoint(sm) {
                font-size: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
.vacancies-news__button-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(109, 109, 109, 0.25);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: none;
    @include breakpoint(xl) {
        display: block;
    }
    .vacancies-news__button-pic {
        display: block;
        margin: 0 auto;
    }
}

//NEWS

.news{
    width: 48%;
    @include breakpoint(xl) {
        width: 98%;
    }
}
.news__header {
    @extend%flex-row;
    margin-bottom: 37px;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(xl) {
        margin-bottom: 15px;
    }
    .news__title {
        @extend%title2;
        @include breakpoint(sm) {
            font-size: 20px;
        }
    }
    .news__link {
        @extend%link;
        @extend%fw4;
        font-size: 14px;
        color: var(--orange-color);
        border-bottom: 1px dashed var(--orange-color);
        @include breakpoint(sm) {
            font-size: 12px;
        }
    }
}
.news__body {
    @extend%flex-row;
    align-items: center;
    gap: 20px;
    .news-content{
        @include breakpoint(xl) {
            width: 49%;
        }
    }
    .news-content__item{
        font-size: 12px;
        @extend%fw4;
        color: #AAAAAA;
        margin-bottom: 11px;
        @include breakpoint(sm) {
            font-size: 10px;
            margin-bottom: 0;
        }
    }
    .news-content__title{
        @extend%fw7;
        font-size: 18px;
        color: var(--primary-color);
        margin-bottom: 12px;
        @include breakpoint(sm) {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .news-content__text{
        font-size: 12px;
        @extend%fw4;
        color: var(--main-color);
        @include breakpoint(sm) {
            font-size: 10px;
        }
    }
    .news__picture{
        @include breakpoint(xl) {
            width: 100%;
        }
    }
}    


//TEST

.test{
    @extend%flex-row;
    background: #2A88FF;
    border: 0;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 62px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 77px;
    @include breakpoint(lg) {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 15px;
        margin-bottom: 35px;
    }
    .test__title{
        @extend%title2;
        color: var(--white-color);
        margin-bottom: 9px;
        @include breakpoint(sm) {
            font-size: 20px;
        }
    }
    .test__text{
        @extend%fw4;
        font-size: 18px;
        color: var(--white-color);
        text-align:right;
        @include breakpoint(lg) {
            text-align: center;
        }
        @include breakpoint(sm) {
            font-size: 14px;
        }
    }
    .test__button{
        @extend%button;
        @extend%fw7;
        color: var(--white-color);
        width: 237px;
        height: 56px;
        background: var(--orange-color);
        border: 1px solid var(--orange-color);
        &:hover{
            background: var(--white-color);
            border: 1px solid var(--orange-color);
            color: var(--orange-color);
        }
        @include breakpoint(sm){
            width: 148px;
            height: 40px;
            font-size: 12px;
        }
    }
}