:root{
    --primary-color: #000000;
    --white-color: #FFFFFF;
    --main-color:#6B6B6B;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%header-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white-color);
}

%title2{
    @extend%fw7;
    font-size: 30px;
    color: var(--primary-color);
}
%fw4{
    font-weight: 400;
    line-height: 1.51;
}

%fw7{
    font-weight: 700;
    line-height: 1.51;
}

%link{
    text-decoration: none;
}

%button {
    font-size: 16px;
    line-height: 1.51;
    text-align: center;
    border-radius: 5px;
}


@mixin breakpoint($point) {
    @if $point == xxl {
        @media(max-width: 1456px){@content;}
    }
    @else if $point == xl {
        @media(max-width: 1200px) {@content;}
    }
    @else if $point == lg {
        @media(max-width: 992px) {@content;}
    }
    @else if $point == md {
        @media(max-width: 768px) {@content;}
    }
    @else if $point == sm {
        @media(max-width: 576px) {@content;}
    }
}