.header-menu{
    @extend%flex-row;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    padding: 21px 0 14px 135px;
    @include breakpoint(xl) {
        padding: 12px 0 12px 50px;
    }
    @include breakpoint(sm){
        padding-left: 10px;
    }
}
.header-burger{
    display: none;
    margin-right: 10px;
    @include breakpoint(xxl) {
        display: block;
    }
}

.header-nav{
    @extend%flex-row;
    background-color: #2B88FF;
    padding: 0 135px 0 105px;
    justify-content: space-between;
    @include breakpoint(xxl) {
        display: none;
    }
    .header-list{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
    .header-item,.header-contact {
        padding: 12px 30px;
    }
    .header-item:hover {
        background-color: #0C5FC9;
    }
    .header-lang{
        @extend%flex-row;
        padding: 12px 0 12px 30px;
    }
    .header-link, .header-lang__item{
        @extend%link;
        @extend%header-txt;
    }
    .header-contact{
        @extend%header-txt;
        font-weight: 700;
    }
}

//DROPDOWN
.header-item{
    position: relative;
    display: inline-block;
}
.header-dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    min-width: 230px;
    margin-top: 12px;
    margin-left: -30px;
}
.header-dropdown__link {
    @extend%header-txt;
    color: #6B6B6B;
    display: block;
    text-decoration: none;
    padding: 10px 27px;
}

.header-dropdown__link:hover {
    background-color: #2A88FF;
    color: var(--white-color);
}
.header-item:hover .header-dropdown{
    display: block;
}

