@import "base";
@import "function";
@import "header";
@import "footer";

.main {
    @extend%flex-row;
    margin-top: 21px;
    margin-bottom: 41px;
}

.main__link {
    @extend%fw4;
    font-size: 12px;
    color: #BDBDBD;
    text-decoration: none;
}

.main__text {
    margin-left: 5px;
    @extend%fw7;
    font-size: 12px;
    color: var(--primary-color);
}

.partnership__title{
    @extend%title2;
    margin-bottom: 38px;
    @include breakpoint(sm) {
        margin-bottom: 11px;
        font-size: 24px;
    }
}

.partnership__picture{
    margin-bottom: 17px;
    @include breakpoint(sm) {
        margin-bottom: 9px;
    }
}
.partnership__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 69px;
    margin-bottom: 75px;
    @include breakpoint(lg){
        grid-template-columns: 1fr;
    }
    @include breakpoint(sm) {
        margin-bottom: 35px;
        gap: 35px;
    }
    .partnership-body__title{
        font-size: 18px;
        @extend%fw4;
        color: var(--primary-color);
        margin-bottom: 21px;
        @include breakpoint(sm) {
            margin-bottom: 6px;
            font-size: 14px;
        }
        .partnership-body__titlebold{
            @extend%fw7;
        }
    }
    .partnership-body__text{
        font-size: 16px;
        @extend%fw4;
        color: #6B6B6B;
        @include breakpoint(sm) {
            font-size: 12px;
        }
        .partnership-body__link{
            text-decoration: none;
            color: var(--blue-color);
        }
    }
}