/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-footer__wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

:root {
  --primary-color: #000000;
  --white-color: #FFFFFF;
  --main-color:#6B6B6B;
  --orange-color:#EB3D00;
  --blue-color:#2A88FF;
}

.achievement .achievement__items, .achievement .achievement__header, .main, .footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .header-nav .header-lang, .header-nav, .header-menu {
  display: flex;
  flex-direction: row;
}

.footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column {
  display: flex;
  flex-direction: column;
}

.header-dropdown__link, .header-nav .header-contact, .header-nav .header-link, .header-nav .header-lang__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-color);
}

.achievements__title {
  font-size: 30px;
  color: var(--primary-color);
}

.achievement .achievement__items .achievement__info-text, .achievement .achievement__items .achievement__info-title, .main__link, .footer .footer__text, .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer-item .footer-link, .footer .footer__row .footer__column .footer__title {
  font-weight: 400;
  line-height: 1.51;
}

.achievement .achievement__items .achievement__info-text .achievement__info-textbold, .achievement .achievement__header .achievement__header-title, .main__text, .achievements__title {
  font-weight: 700;
  line-height: 1.51;
}

.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer__title, .header-nav .header-link, .header-nav .header-lang__item {
  text-decoration: none;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding: 21px 0 14px 135px;
}
@media (max-width: 1200px) {
  .header-logo {
    padding: 12px 0 12px 50px;
  }
}
@media (max-width: 576px) {
  .header-logo {
    padding-left: 10px;
  }
}

.header-burger {
  display: none;
  margin-right: 10px;
}
@media (max-width: 1456px) {
  .header-burger {
    display: block;
  }
}

.header-nav {
  background-color: #2B88FF;
  padding: 0 135px 0 105px;
  justify-content: space-between;
}
@media (max-width: 1456px) {
  .header-nav {
    display: none;
  }
}
.header-nav .header-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header-nav .header-item, .header-nav .header-contact {
  padding: 12px 30px;
}
.header-nav .header-item:hover {
  background-color: #0C5FC9;
}
.header-nav .header-lang {
  padding: 12px 0 12px 30px;
}
.header-nav .header-contact {
  font-weight: 700;
}

.header-item {
  position: relative;
  display: inline-block;
}

.header-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  min-width: 230px;
  margin-top: 12px;
  margin-left: -30px;
}

.header-dropdown__link {
  color: #6B6B6B;
  display: block;
  text-decoration: none;
  padding: 10px 27px;
}

.header-dropdown__link:hover {
  background-color: #2A88FF;
  color: var(--white-color);
}

.header-item:hover .header-dropdown {
  display: block;
}

.footer {
  background: #111111;
}
.footer .footer__row {
  justify-content: space-between;
  padding: 72px 135px 44px 135px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 1456px) {
  .footer .footer__row {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.footer .footer__row .footer__column {
  gap: 15px;
  width: 17%;
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column {
    border: 0;
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column .footer-nav {
    display: none;
  }
}
.footer .footer__row .footer__column .footer__title {
  font-size: 18px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column .footer__title {
    font-size: 14px;
  }
}
.footer .footer__row .footer__column .footer-item {
  margin-bottom: 12px;
}
.footer .footer__row .footer__column .footer-item .footer-link {
  text-decoration: none;
  font-size: 14px;
  color: #B3B3B3;
}
.footer .footer__row .footer__column-first {
  gap: 32px;
}
.footer .footer__row .footer__column-service {
  width: 35%;
}
.footer .footer__row .footer__column-contact {
  border: 0;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact {
    align-items: center;
    text-align: center;
  }
}
.footer .footer__row .footer__column-contact .footer__contact {
  gap: 15px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact .footer__contact {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
  font-size: 14px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
    font-size: 11px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer__contact-content {
  gap: 15px;
}
.footer .footer__row .footer__column-contact .footer__contact-pic {
  gap: 30px;
}
.footer .footer__text {
  font-size: 14px;
  color: var(--white-color);
  text-align: center;
  margin-top: 28px;
  padding-bottom: 23px;
}
@media (max-width: 1456px) {
  .footer .footer__text {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .footer .footer__text {
    font-size: 11px;
  }
}

.main {
  margin-top: 21px;
  margin-bottom: 41px;
}

.main__link {
  font-size: 12px;
  color: #BDBDBD;
  text-decoration: none;
}

.main__text {
  margin-left: 5px;
  font-size: 12px;
  color: var(--primary-color);
}

.achievements__title {
  margin-bottom: 31px;
}
@media (max-width: 576px) {
  .achievements__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.achievement {
  border-left: 1px dashed #DDDDDD;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .achievement {
    border: 0;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .achievement {
    font-size: 26px;
  }
}
.achievement .achievement__header {
  gap: 17px;
  margin-bottom: 25px;
  margin-left: -7px;
}
@media (max-width: 576px) {
  .achievement .achievement__header {
    margin-bottom: 10px;
  }
}
.achievement .achievement__header .achievement__header-picture {
  align-self: start;
}
.achievement .achievement__header .achievement__header-title {
  font-size: 22px;
  color: var(--primary-color);
  margin-top: -10px;
}
@media (max-width: 576px) {
  .achievement .achievement__header .achievement__header-title {
    font-size: 16px;
    margin-top: -5px;
  }
}
.achievement .achievement__items {
  margin-left: 65px;
  gap: 58px;
  align-items: center;
}
@media (max-width: 992px) {
  .achievement .achievement__items {
    margin-left: 0;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .achievement .achievement__items {
    flex-direction: column;
  }
}
.achievement .achievement__items .achievement__picture {
  width: 281px;
  height: 207px;
}
@media (max-width: 768px) {
  .achievement .achievement__items .achievement__picture {
    width: 240px;
    height: 168px;
  }
}
@media (max-width: 576px) {
  .achievement .achievement__items .achievement__picture {
    width: 128px;
    height: 94px;
  }
}
.achievement .achievement__items .achievement__info-title {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .achievement .achievement__items .achievement__info-title {
    display: none;
  }
}
@media (max-width: 768px) {
  .achievement .achievement__items .achievement__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }
}
.achievement .achievement__items .achievement__row-title {
  display: none;
}
@media (max-width: 768px) {
  .achievement .achievement__items .achievement__row-title {
    display: block;
  }
}
@media (max-width: 576px) {
  .achievement .achievement__items .achievement__row-title {
    font-size: 14px;
  }
}
.achievement .achievement__items .achievement__info-text {
  font-size: 16px;
  color: #6B6B6B;
}
@media (max-width: 576px) {
  .achievement .achievement__items .achievement__info-text {
    font-size: 12px;
  }
}
.achievement .achievement__items .achievement__info-text .achievement__info-textbold {
  color: var(--primary-color);
}

.achievement-last {
  border: 0;
  padding-bottom: 77px;
}
@media (max-width: 576px) {
  .achievement-last {
    padding-bottom: 36px;
  }
}