/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-footer__wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

:root {
  --primary-color: #000000;
  --white-color: #FFFFFF;
  --main-color:#6B6B6B;
  --orange-color:#EB3D00;
  --blue-color:#2A88FF;
  --text-color:#6B6B6B;
}

.question__form .question__input .captcha, .question__form .question__form-row, .question, .contacts__cities .contacts__city .contact__city-info, .main, .footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .header-nav .header-lang, .header-nav, .header-menu {
  display: flex;
  flex-direction: row;
}

.question__form .question__input, .question__form .question__form-row .question__form-column, .question__form, .contacts__cities .contacts__city .contact__city-fax, .contacts__cities .contacts__city, .footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column {
  display: flex;
  flex-direction: column;
}

.header-dropdown__link, .header-nav .header-contact, .header-nav .header-link, .header-nav .header-lang__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-color);
}

.contacts__title {
  font-size: 30px;
  color: var(--primary-color);
}

.question__form .question__input .question__label, .question__form .question__input .input-invalid, .contacts__cities, .contacts__select, .main__link, .footer .footer__text, .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer-item .footer-link, .footer .footer__row .footer__column .footer__title {
  font-weight: 400;
  line-height: 1.51;
}

.question__form .question__button, .question__form .question__input .captcha .question__captcha, .question__title, .main__text, .contacts__title {
  font-weight: 700;
  line-height: 1.51;
}

.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer__title, .header-nav .header-link, .header-nav .header-lang__item {
  text-decoration: none;
}

.question__form .question__button {
  font-size: 16px;
  line-height: 1.51;
  text-align: center;
  border-radius: 5px;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding: 21px 0 14px 135px;
}
@media (max-width: 1200px) {
  .header-logo {
    padding: 12px 0 12px 50px;
  }
}
@media (max-width: 576px) {
  .header-logo {
    padding-left: 10px;
  }
}

.header-burger {
  display: none;
  margin-right: 10px;
}
@media (max-width: 1456px) {
  .header-burger {
    display: block;
  }
}

.header-nav {
  background-color: #2B88FF;
  padding: 0 135px 0 105px;
  justify-content: space-between;
}
@media (max-width: 1456px) {
  .header-nav {
    display: none;
  }
}
.header-nav .header-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header-nav .header-item, .header-nav .header-contact {
  padding: 12px 30px;
}
.header-nav .header-item:hover {
  background-color: #0C5FC9;
}
.header-nav .header-lang {
  padding: 12px 0 12px 30px;
}
.header-nav .header-contact {
  font-weight: 700;
}

.header-item {
  position: relative;
  display: inline-block;
}

.header-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  min-width: 230px;
  margin-top: 12px;
  margin-left: -30px;
}

.header-dropdown__link {
  color: #6B6B6B;
  display: block;
  text-decoration: none;
  padding: 10px 27px;
}

.header-dropdown__link:hover {
  background-color: #2A88FF;
  color: var(--white-color);
}

.header-item:hover .header-dropdown {
  display: block;
}

.footer {
  background: #111111;
}
.footer .footer__row {
  justify-content: space-between;
  padding: 72px 135px 44px 135px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 1456px) {
  .footer .footer__row {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.footer .footer__row .footer__column {
  gap: 15px;
  width: 17%;
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column {
    border: 0;
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column .footer-nav {
    display: none;
  }
}
.footer .footer__row .footer__column .footer__title {
  font-size: 18px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column .footer__title {
    font-size: 14px;
  }
}
.footer .footer__row .footer__column .footer-item {
  margin-bottom: 12px;
}
.footer .footer__row .footer__column .footer-item .footer-link {
  text-decoration: none;
  font-size: 14px;
  color: #B3B3B3;
}
.footer .footer__row .footer__column-first {
  gap: 32px;
}
.footer .footer__row .footer__column-service {
  width: 35%;
}
.footer .footer__row .footer__column-contact {
  border: 0;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact {
    align-items: center;
    text-align: center;
  }
}
.footer .footer__row .footer__column-contact .footer__contact {
  gap: 15px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact .footer__contact {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
  font-size: 14px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
    font-size: 11px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer__contact-content {
  gap: 15px;
}
.footer .footer__row .footer__column-contact .footer__contact-pic {
  gap: 30px;
}
.footer .footer__text {
  font-size: 14px;
  color: var(--white-color);
  text-align: center;
  margin-top: 28px;
  padding-bottom: 23px;
}
@media (max-width: 1456px) {
  .footer .footer__text {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .footer .footer__text {
    font-size: 11px;
  }
}

.main {
  margin-top: 21px;
  margin-bottom: 41px;
}

.main__link {
  font-size: 12px;
  color: #BDBDBD;
  text-decoration: none;
}

.main__text {
  margin-left: 5px;
  font-size: 12px;
  color: var(--primary-color);
}

.contacts__title {
  margin-bottom: 13px;
}
@media (max-width: 1200px) {
  .contacts__title {
    font-size: 24px;
    margin-bottom: 11px;
  }
}

.contacts__select {
  margin-bottom: 64px;
  width: 342px;
  height: 54px;
  background: var(--white-color);
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 14px 25px;
  font-size: 18px;
  color: #3A3A3A;
}
@media (max-width: 1200px) {
  .contacts__select {
    margin-bottom: 21px;
  }
}

.contacts__cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  color: var(--primary-color);
  margin-bottom: 77px;
}
@media (max-width: 1200px) {
  .contacts__cities {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 43px;
  }
}
@media (max-width: 768px) {
  .contacts__cities {
    grid-template-columns: 1fr;
  }
}
.contacts__cities .contacts__city {
  gap: 29px;
  border-right: 1px solid #EFEFEF;
}
@media (max-width: 1200px) {
  .contacts__cities .contacts__city {
    border: 0;
  }
}
@media (max-width: 768px) {
  .contacts__cities .contacts__city {
    gap: 15px;
  }
}
.contacts__cities .contacts__city .contacts__city-header {
  font-size: 20px;
}
@media (max-width: 576px) {
  .contacts__cities .contacts__city .contacts__city-header {
    font-size: 18px;
  }
}
.contacts__cities .contacts__city .contact__city-info {
  gap: 11px;
}
.contacts__cities .contacts__city .contact__city-info .contact__city-text {
  font-size: 16x;
}
@media (max-width: 576px) {
  .contacts__cities .contacts__city .contact__city-info .contact__city-text {
    font-size: 12px;
  }
}
.contacts__cities .contacts__city .contact__city-info .contact__fax {
  font-size: 14px;
  color: #6B6B6B;
}
@media (max-width: 576px) {
  .contacts__cities .contacts__city .contact__city-info .contact__fax {
    font-size: 10px;
  }
}
.contacts__cities .contacts__city .contact__city-fax .contact__city-text-fax {
  margin-top: 4px;
  margin-left: 26px;
}
@media (max-width: 576px) {
  .contacts__cities .contacts__city .contact__city-fax .contact__city-text-fax {
    font-size: 12px;
  }
}
.contacts__cities .contacts__city .contact__city-email {
  color: var(--blue-color);
}
.contacts__cities .contacts__city-odesa {
  border: 0;
}

.question {
  background: #F9F9F9;
  border: 3px solid var(--blue-color);
  border-radius: 10px;
  align-items: center;
  margin-bottom: 77px;
}

.question__picture {
  height: 720px;
}
@media (max-width: 1456px) {
  .question__picture {
    height: 670px;
  }
}
@media (max-width: 1200px) {
  .question__picture {
    display: none;
  }
}
.question__picture .question__picture-item {
  height: 100%;
}

.question__title {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 34px;
}
@media (max-width: 992px) {
  .question__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .question__title {
    font-size: 18px;
  }
}

.question__items {
  padding: 20px;
}
@media (max-width: 1200px) {
  .question__items {
    margin: 0 auto;
  }
}

.question__form {
  gap: 34px;
}
@media (max-width: 768px) {
  .question__form {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .question__form {
    gap: 10px;
  }
}
.question__form .question__form-row {
  gap: 30px;
}
@media (max-width: 992px) {
  .question__form .question__form-row {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .question__form .question__form-row {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .question__form .question__form-row {
    gap: 10px;
  }
}
.question__form .question__form-row .question__form-column {
  gap: 34px;
}
@media (max-width: 768px) {
  .question__form .question__form-row .question__form-column {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .question__form .question__form-row .question__form-column {
    gap: 10px;
  }
}
.question__form .question__input-captcha2 {
  display: none;
}
@media (max-width: 768px) {
  .question__form .question__input-captcha2 {
    display: block;
  }
}
@media (max-width: 768px) {
  .question__form .question__input-captcha1 {
    display: none;
  }
}
.question__form .question__input {
  /*
  .question__input-item:invalid {
      border: 1px solid var(--orange-color);
  }
  .question__input-item:valid {
      border: 1px solid #01A011;
  }
  */
}
.question__form .question__input .question__input-item {
  width: 338px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 16px 23px;
}
@media (max-width: 576px) {
  .question__form .question__input .question__input-item {
    width: 268px;
    padding: 12px 15px;
  }
}
.question__form .question__input .question__input-message {
  height: 172px;
}
@media (max-width: 576px) {
  .question__form .question__input .question__input-message {
    height: 89px;
  }
}
.question__form .question__input .input-invalid {
  display: none;
  color: var(--orange-color);
  font-size: 10px;
  text-align: end;
}
.question__form .question__input .question__label {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 6px;
}
@media (max-width: 576px) {
  .question__form .question__input .question__label {
    font-size: 12px;
  }
}
.question__form .question__input .label__span {
  color: var(--orange-color);
}
.question__form .question__input .captcha {
  gap: 20px;
}
.question__form .question__input .captcha .question__captcha {
  background: #E1E1E1;
  border-radius: 5px;
  font-size: 24px;
  color: var(--primary-color);
  text-align: center;
  padding: 8px 44px;
}
@media (max-width: 576px) {
  .question__form .question__input .captcha .question__captcha {
    font-size: 18px;
    padding: 7px 28px;
  }
}
.question__form .question__input .captcha .question__captcha-input {
  width: 175px;
  height: 54px;
}
@media (max-width: 576px) {
  .question__form .question__input .captcha .question__captcha-input {
    width: 151px;
    height: 42px;
  }
}
.question__form .question__button {
  height: 56px;
  background: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: var(--white-color);
}
@media (max-width: 576px) {
  .question__form .question__button {
    width: 268px;
    height: 42px;
    font-size: 12px;
  }
}