/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-footer__wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

:root {
  --primary-color: #000000;
  --white-color: #FFFFFF;
  --main-color:#6B6B6B;
  --orange-color:#EB3D00;
  --blue-color:#2A88FF;
}

.footer .footer__row .footer__column-contact .footer__contact-pic, .footer .footer__row .footer__column-contact .footer__contact .footer__contact-content, .footer .footer__row .footer__column-first, .footer .footer__row, .test, .news__body, .news__header, .vacancies__header, .vacancies-news, .staff .staff__column .staff__value, .staff .staff__column, .staff, .mission__row .mission__value, .mission__row .mission__column, .mission__row, .about-video .about-video__header, .about, .corporation .corporation__elipse, .header-nav .header-lang, .header-nav, .header-menu {
  display: flex;
  flex-direction: row;
}

.footer .footer__row .footer__column-contact .footer__contact, .footer .footer__row .footer__column, .vacancies__body .vacancies-content, .staff .staff__column .staff__item, .mission__row .mission__item, .about-company, .about-video {
  display: flex;
  flex-direction: column;
}

.header-dropdown__link, .header-nav .header-contact, .header-nav .header-link, .header-nav .header-lang__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white-color);
}

.test .test__title, .news__header .news__title, .vacancies__header .vacancies__title, .staff .staff__title, .mission__title, .about-company .about-company__title {
  font-size: 30px;
  color: var(--primary-color);
}

.footer .footer__text, .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer-item .footer-link, .footer .footer__row .footer__column .footer__title, .test .test__text, .news__body .news-content__text, .news__body .news-content__item, .news__header .news__link, .vacancies__body .vacancies-content .vacancies-content__text, .vacancies__link, .staff .staff__text, .mission__row .mission__text, .about-company .about-company__text, .about-video .about-video__header .about-video__text, .corporation .corporation__text {
  font-weight: 400;
  line-height: 1.51;
}

.test .test__button, .news__body .news-content__title, .vacancies__body .vacancies-content .vacancies-content__title, .corporation .corporation__title, .test .test__title, .news__header .news__title, .vacancies__header .vacancies__title, .staff .staff__title, .mission__title, .about-company .about-company__title {
  font-weight: 700;
  line-height: 1.51;
}

.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact, .footer .footer__row .footer__column .footer__title, .news__header .news__link, .vacancies__link, .header-nav .header-link, .header-nav .header-lang__item {
  text-decoration: none;
}

.test .test__button, .about-company .about-company__button {
  font-size: 16px;
  line-height: 1.51;
  text-align: center;
  border-radius: 5px;
}

.header-menu {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding: 21px 0 14px 135px;
}
@media (max-width: 1200px) {
  .header-logo {
    padding: 12px 0 12px 50px;
  }
}
@media (max-width: 576px) {
  .header-logo {
    padding-left: 10px;
  }
}

.header-burger {
  display: none;
  margin-right: 10px;
}
@media (max-width: 1456px) {
  .header-burger {
    display: block;
  }
}

.header-nav {
  background-color: #2B88FF;
  padding: 0 135px 0 105px;
  justify-content: space-between;
}
@media (max-width: 1456px) {
  .header-nav {
    display: none;
  }
}
.header-nav .header-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header-nav .header-item, .header-nav .header-contact {
  padding: 12px 30px;
}
.header-nav .header-item:hover {
  background-color: #0C5FC9;
}
.header-nav .header-lang {
  padding: 12px 0 12px 30px;
}
.header-nav .header-contact {
  font-weight: 700;
}

.header-item {
  position: relative;
  display: inline-block;
}

.header-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  min-width: 230px;
  margin-top: 12px;
  margin-left: -30px;
}

.header-dropdown__link {
  color: #6B6B6B;
  display: block;
  text-decoration: none;
  padding: 10px 27px;
}

.header-dropdown__link:hover {
  background-color: #2A88FF;
  color: var(--white-color);
}

.header-item:hover .header-dropdown {
  display: block;
}

.corporation {
  background: url(/assets/img/brain-source.jpg) no-repeat;
  background-size: cover;
  height: 550px;
  padding: 0 173px;
}
@media (max-width: 1456px) {
  .corporation {
    height: 450px;
  }
}
@media (max-width: 1200px) {
  .corporation {
    height: 365px;
    padding: 0 50px;
  }
}
@media (max-width: 992px) {
  .corporation {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .corporation {
    height: 215px;
  }
}
@media (max-width: 576px) {
  .corporation {
    height: 150px;
    padding: 0 35px;
  }
}
.corporation .corporation__title {
  font-size: 42px;
  color: var(--white-color);
  padding-top: 173px;
  margin-bottom: 21px;
}
@media (max-width: 1456px) {
  .corporation .corporation__title {
    padding-top: 80px;
  }
}
@media (max-width: 992px) {
  .corporation .corporation__title {
    padding-top: 55px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .corporation .corporation__title {
    padding-top: 15px;
    font-size: 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .corporation .corporation__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.corporation .corporation__text {
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 205px;
  max-width: 620px;
}
@media (max-width: 1200px) {
  .corporation .corporation__text {
    margin-bottom: 150px;
  }
}
@media (max-width: 992px) {
  .corporation .corporation__text {
    margin-bottom: 130px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .corporation .corporation__text {
    margin-bottom: 80px;
    font-size: 14px;
    width: 70%;
  }
}
@media (max-width: 576px) {
  .corporation .corporation__text {
    margin-bottom: 35px;
    font-size: 11px;
  }
}
.corporation .corporation__elipse {
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.corporation .corporation__elipse .corporation__item {
  border: 2px solid #FFFFFF;
  background: transparent;
  border-radius: 50%;
  padding: 0;
  width: 10px;
  height: 10px;
}
.corporation .corporation__elipse .corporation__item-orange {
  background: #EB3D00;
  border: 0;
  width: 15px;
  height: 15px;
}

.about {
  margin-top: 80px;
  margin-bottom: 150px;
  gap: 65px;
}
@media (max-width: 1200px) {
  .about {
    flex-direction: column-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .about {
    gap: 15px;
  }
}

.about-video {
  gap: 17px;
}
@media (max-width: 1200px) {
  .about-video {
    align-items: center;
  }
}
.about-video .about-video__header {
  gap: 23px;
}
@media (max-width: 1200px) {
  .about-video .about-video__header {
    display: none;
  }
}
.about-video .about-video__header .about-video__text {
  font-size: 16px;
  color: #8D8D8D;
}
@media (max-width: 576px) {
  .about-video .about-video__frame {
    width: 350px;
    height: 220px;
  }
}

@media (max-width: 1200px) {
  .about-video-first {
    display: none;
  }
}

.about-video-second {
  display: none;
}
@media (max-width: 1200px) {
  .about-video-second {
    display: block;
    align-items: center;
  }
}

.about-company {
  gap: 30px;
}
@media (max-width: 1200px) {
  .about-company {
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .about-company .about-company__title {
    font-size: 20px;
  }
}
.about-company .about-company__text {
  font-size: 16px;
  color: var(--main-color);
}
@media (max-width: 1200px) {
  .about-company .about-company__text {
    text-align: center;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .about-company .about-company__text {
    font-size: 14px;
  }
}
.about-company .about-company__button {
  width: 204px;
  height: 56px;
  background: var(--white-color);
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}
.about-company .about-company__button:hover {
  background: var(--orange-color);
  color: var(--white-color);
  font-weight: 700;
}
@media (max-width: 576px) {
  .about-company .about-company__button {
    font-size: 12px;
    width: 148px;
    height: 40px;
  }
}

.mission {
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  .mission {
    margin-bottom: 80px;
  }
}

.mission__title {
  text-align: center;
  margin-bottom: 57px;
}
@media (max-width: 1200px) {
  .mission__title {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .mission__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.mission__row {
  padding-left: 104px;
  gap: 60px;
}
@media (max-width: 1200px) {
  .mission__row {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.mission__row .mission__column {
  align-items: center;
  width: 45%;
}
@media (max-width: 1200px) {
  .mission__row .mission__column {
    width: 100%;
  }
}
.mission__row .mission__column-first {
  gap: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
}
@media (max-width: 1200px) {
  .mission__row .mission__column-first {
    border: 0;
    gap: 15px;
  }
}
.mission__row .mission__column-second {
  justify-content: space-around;
}
.mission__row .mission__item {
  gap: 20px;
}
.mission__row .mission__value {
  gap: 11px;
}
.mission__row .mission__text {
  font-size: 18px;
  color: var(--main-color);
}
@media (max-width: 576px) {
  .mission__row .mission__text {
    font-size: 14px;
  }
}

.staff {
  background: #F9F9F9;
  border: 3px solid #2B88FF;
  border-radius: 10px;
  margin-bottom: 77px;
  align-items: center;
  position: relative;
}
@media (max-width: 1200px) {
  .staff {
    margin-bottom: 30px;
  }
}
.staff .staff__picture {
  width: 100%;
  height: 427px;
}
@media (max-width: 1200px) {
  .staff .staff__picture {
    height: 310px;
  }
}
@media (max-width: 992px) {
  .staff .staff__picture {
    width: 0;
    height: 360px;
  }
}
@media (max-width: 576px) {
  .staff .staff__picture {
    height: 280px;
  }
}
.staff .staff__picture .staff__picture-item {
  position: absolute;
  top: -50px;
  left: -25px;
}
@media (max-width: 1200px) {
  .staff .staff__picture .staff__picture-item {
    height: 360px;
  }
}
@media (max-width: 992px) {
  .staff .staff__picture .staff__picture-item {
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}
@media (max-width: 576px) {
  .staff .staff__picture .staff__picture-item {
    height: 280px;
  }
}
.staff .staff__content {
  padding: 10px;
}
@media (max-width: 992px) {
  .staff .staff__content {
    text-align: center;
    margin-left: 0;
  }
}
.staff .staff__title {
  margin-bottom: 14px;
}
@media (max-width: 992px) {
  .staff .staff__title {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .staff .staff__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.staff .staff__text {
  font-size: 18px;
  color: var(--main-color);
}
@media (max-width: 576px) {
  .staff .staff__text {
    font-size: 14px;
  }
}
.staff .staff__column {
  margin-top: 30px;
  justify-content: space-around;
}
.staff .staff__column .staff__item {
  gap: 20px;
}
.staff .staff__column .staff__value {
  gap: 11px;
}

.vacancies-news {
  justify-content: space-between;
  margin-bottom: 77px;
}
@media (max-width: 1200px) {
  .vacancies-news {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
}

.vacancies {
  width: 48%;
}
@media (max-width: 1200px) {
  .vacancies {
    width: 98%;
  }
}

.vacancies__header {
  margin-bottom: 37px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .vacancies__header {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .vacancies__header .vacancies__title {
    font-size: 20px;
  }
}

.vacancies__link {
  margin-top: auto;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  color: var(--orange-color);
  border-bottom: 1px dashed var(--orange-color);
}
@media (max-width: 576px) {
  .vacancies__link {
    font-size: 12px;
  }
}

.vacancies__body {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  align-items: center;
  gap: 20px;
}
.vacancies__body .vacancies-content {
  height: 100%;
  background: var(--white-color);
  border-radius: 0 5px 5px 0;
  border-left: 3px solid #EB3D00;
  padding: 41px 34px 32px 30px;
}
.vacancies__body .vacancies-content:hover {
  box-shadow: 0px 0px 49px 2px rgba(0, 0, 0, 0.14);
}
@media (max-width: 768px) {
  .vacancies__body .vacancies-content {
    padding: 21px 15px;
  }
}
.vacancies__body .vacancies-content .vacancies-content__title {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .vacancies__body .vacancies-content .vacancies-content__title {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .vacancies__body .vacancies-content .vacancies-content__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.vacancies__body .vacancies-content .vacancies-content__text {
  font-size: 12px;
  color: var(--main-color);
  margin-bottom: 19px;
}
@media (max-width: 576px) {
  .vacancies__body .vacancies-content .vacancies-content__text {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.vacancies-news__button-item {
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(109, 109, 109, 0.25);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: none;
}
@media (max-width: 1200px) {
  .vacancies-news__button-item {
    display: block;
  }
}
.vacancies-news__button-item .vacancies-news__button-pic {
  display: block;
  margin: 0 auto;
}

.news {
  width: 48%;
}
@media (max-width: 1200px) {
  .news {
    width: 98%;
  }
}

.news__header {
  margin-bottom: 37px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .news__header {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .news__header .news__title {
    font-size: 20px;
  }
}
.news__header .news__link {
  font-size: 14px;
  color: var(--orange-color);
  border-bottom: 1px dashed var(--orange-color);
}
@media (max-width: 576px) {
  .news__header .news__link {
    font-size: 12px;
  }
}

.news__body {
  align-items: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .news__body .news-content {
    width: 49%;
  }
}
.news__body .news-content__item {
  font-size: 12px;
  color: #AAAAAA;
  margin-bottom: 11px;
}
@media (max-width: 576px) {
  .news__body .news-content__item {
    font-size: 10px;
    margin-bottom: 0;
  }
}
.news__body .news-content__title {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 12px;
}
@media (max-width: 576px) {
  .news__body .news-content__title {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.news__body .news-content__text {
  font-size: 12px;
  color: var(--main-color);
}
@media (max-width: 576px) {
  .news__body .news-content__text {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  .news__body .news__picture {
    width: 100%;
  }
}

.test {
  background: #2A88FF;
  border: 0;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 62px;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 77px;
}
@media (max-width: 992px) {
  .test {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 15px;
    margin-bottom: 35px;
  }
}
.test .test__title {
  color: var(--white-color);
  margin-bottom: 9px;
}
@media (max-width: 576px) {
  .test .test__title {
    font-size: 20px;
  }
}
.test .test__text {
  font-size: 18px;
  color: var(--white-color);
  text-align: right;
}
@media (max-width: 992px) {
  .test .test__text {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .test .test__text {
    font-size: 14px;
  }
}
.test .test__button {
  color: var(--white-color);
  width: 237px;
  height: 56px;
  background: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.test .test__button:hover {
  background: var(--white-color);
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
}
@media (max-width: 576px) {
  .test .test__button {
    width: 148px;
    height: 40px;
    font-size: 12px;
  }
}

.footer {
  background: #111111;
}
.footer .footer__row {
  justify-content: space-between;
  padding: 72px 135px 44px 135px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 1456px) {
  .footer .footer__row {
    padding: 25px;
  }
}
@media (max-width: 992px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.footer .footer__row .footer__column {
  gap: 15px;
  width: 17%;
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column {
    border: 0;
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column .footer-nav {
    display: none;
  }
}
.footer .footer__row .footer__column .footer__title {
  font-size: 18px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column .footer__title {
    font-size: 14px;
  }
}
.footer .footer__row .footer__column .footer-item {
  margin-bottom: 12px;
}
.footer .footer__row .footer__column .footer-item .footer-link {
  text-decoration: none;
  font-size: 14px;
  color: #B3B3B3;
}
.footer .footer__row .footer__column-first {
  gap: 32px;
}
.footer .footer__row .footer__column-service {
  width: 35%;
}
.footer .footer__row .footer__column-contact {
  border: 0;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact {
    align-items: center;
    text-align: center;
  }
}
.footer .footer__row .footer__column-contact .footer__contact {
  gap: 15px;
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .footer .footer__row .footer__column-contact .footer__contact {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
  font-size: 14px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .footer .footer__row .footer__column-contact .footer__contact .footer-link__contact {
    font-size: 11px;
  }
}
.footer .footer__row .footer__column-contact .footer__contact .footer__contact-content {
  gap: 15px;
}
.footer .footer__row .footer__column-contact .footer__contact-pic {
  gap: 30px;
}
.footer .footer__text {
  font-size: 14px;
  color: var(--white-color);
  text-align: center;
  margin-top: 28px;
  padding-bottom: 23px;
}
@media (max-width: 1456px) {
  .footer .footer__text {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .footer .footer__text {
    font-size: 11px;
  }
}